{:paths
 ["src/main"]

 :deps
 {com.wsscode/pathom3 {:git/url "https://github.com/wilkerlucio/pathom3" :sha "00813aa7fb2d2d31c6734f2d26310000d55cde48"}}

 :aliases
 {:provided
  {:extra-deps {org.clojure/clojure       {:mvn/version "1.10.3"}
                org.clojure/clojurescript {:mvn/version "1.10.764"}}}

  :on-prem
  {:extra-deps {com.datomic/datomic-free {:mvn/version "0.9.5703.21"}}}

  :tasks
  {:extra-deps  {babashka/babashka {:mvn/version "0.3.6"}}
   :extra-paths ["src/tasks"]}

  :test
  {:extra-paths ["test"]
   :extra-deps  {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git" :sha "209b64504cb3bd3b99ecfec7937b358a879f55c1"}}
   :main-opts   ["-m" "cognitect.test-runner"]}

  :test-cljs
  {:extra-paths ["test"]
   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.11.9"}}}}}
